<style>

body {
  background-color: rgba(156, 19, 66, 0.9);;
}
</style>



<div class="col-md-2 col-md-offset-6" >
  <h1> Sign Up</h1>
<!-- @use is initialized in UsersController as @user = User.new -->
<%= form_for @user do |f| %>

<%= f.label :name%> <br>
<%= f.text_field :name%><br>

<%= f.label :username%> <br>

<%= f.text_field :username%><br>
<%= f.label :email%> <br>

<%= f.text_field :email%><br>
<%= f.label :password%><br>
<%= f.password_field :password%><br>
<%= f.submit  "Create my account", class: "btn btn-primary" %>
<%end%>
</div>
