<div class="p-3 mb-2 bg-info text-black">

<h1> Sign Up</h1>

<!-- @use is initialized in UsersController as @user = User.new -->
<%= form_for @user do |f| %>

<%= f.label :username %> <br>
<%= f.text_field :username, required: true %><br>

<%= f.label :email %> <br>
<%= f.email_field :email, required: true %><br>

<%= f.label :password %><br>
<%= f.password_field :password, required: true, maxlength: 10, minlength: 6 %><br>
<br>
<%= f.submit %>
<%end%>
