<div class="p-3 mb-2 bg-info text-black">

<div class="jumbotron">
<div class="row">
  <div class="col-sm-8">
    <%= link_to new_post_path do %>
    <button type="button" class="btn btn-success">New post</button>
  <!-- New post -->
    <% end %>
  </div>
  <div class="btn btn-warning">
    <%= button_to "Logout", logout_path, method: 'logout'%>
  </div>
</div>
</div>

<% @posts.reverse.each do |post| %>
<div class= "container center">
<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto"><%= post.user.username %></strong>
    <small><%= post.created_at.strftime("%d/%m/%Y") %></small>
  </div>
  <div class="toast-body">
    <%= post.message %>
  </div>
</div>
</div>
<% end %>

</div>
